body {
    margin: 0;
    padding: 0;
  }
.site-wrapper {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
    color: #ffffff;
    background-color: #849d8f;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
  /* HEADER start */
.main-logo {
    min-width: 171px;
}
.user-navigation,
.navigation-list,
.site-navigation {
    list-style: none;
}
.main-navigation {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    color: #ffffff;
    background-color: #849d8f;
    width: calc(100% - 455px);
    min-width: 200px;
}
.site-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}
.site-navigation-item {
    position: relative;
    padding-right: 10px;
}
.site-navigation .site-navigation-item:hover .navigation-list{
    display: block;
}
.site-navigation-link,
.navigation-item-link,
.user-navigation-link {
    color: #ffffff;
}
.site-navigation .site-navigation-catalog,
.site-navigation .site-navigation-delivery,
.site-navigation .site-navigation-company {
    position: relative;
    display: inline-block;
}
.site-navigation-catalog::after {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 8px;
    right: 8px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
}
.site-navigation-delivery::after {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 8px;
    right: 8px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
}
.site-navigation-company::after {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 8px;
    right: 8px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
}
.site-navigation a:hover {
    background-color: #f7f6f3;
    color: black;
    border-radius: 25px;
}  
.site-navigation a:active {
    box-shadow: inset 0px 2px 1px 0 #696969;
    background-color: #ededed;
    border-radius: 25px;
}
.site-navigation-current {
    background-color: #d07058;
    border-radius: 25px;
}
.site-navigation-link {
    padding: 5px 9px;
}
.navigation-list{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    content: "";
    position: absolute;
    top: 30px;
    left: -12px;
    padding: 2px 0px;
    min-width: 145px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
    border-radius: 5px;
    z-index: 10;
}
.navigation-item:first-child{
    padding-bottom: 10px;
}
.navigation-item:first-child .navigation-item-link {
    font-weight: bold;
}
.navigation-item .navigation-item-link{
    position: relative;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: black;
}
.navigation-item {
    padding: 7px 20px;
}
.navigation-item:hover,
.navigation-item .navigation-item-link:hover {
    background-color: #fbded7;
}
.navigation-item:active,
.navigation-item .navigation-item-link:active {
    background-color: #d07058;
}
.navigation-item-first::after{
    content: "";
    position: absolute;
    bottom: 130px;
    left: 7px;
    right: 7px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.3);
}
.user-navigation {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #ffffff;
    background-color: #849d8f;
    position: relative;
    margin: 0;
    padding: 0;
    min-width: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
}
.search-link:hover path,
.login-link:hover path {
    fill: black;
} 
.user-navigation-link {
    padding: 9px 15px;
    margin-left: 10px;
    border-radius: 25px;
}
.search-link {
    display: block;
    border-radius: 50%;
    padding: 8px;
    vertical-align: middle;
}
.user-navigation .search-field {
    position: relative;
    width: 17px;
    height: 17px;
}
.user-navigation .login-link{
    position: relative;
    padding-left: 45px;
} 
.user-navigation .basket {
    position: relative;
    padding-left: 45px;
} 
.search-field {
    background-color: rgba(255, 255, 255, 0.2);
}
 .search-field:hover {
    background-color: #f8f7f4;
    color: black;
}
.login-link {
    background-color: rgba(255, 255, 255, 0.2);
}
.login-link:hover {
    background-color: #f8f7f4;
    color: black;
}
.login-link,
.basket {
    display: block;
    vertical-align: middle;
}
.login-link svg {
    content: "";
    position: absolute;
    top: 8px;
    left: 16px;
    width: 21px;
    height: 19px;
}
.basket {
    background-color: rgba(255, 255, 255, 0.2);
}
.basket svg {
    content: "";
    position: absolute;
    top: 8px;
    left: 16px;
    width: 21px;
    height: 19px;
}
.button-gl {
    box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
    background-image: linear-gradient(to top, #e74a35, #f26843);
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #fefefe;
    border-radius: 25px;
    text-align: center;
}
.button-gl:hover {
    box-shadow: 0px 2px 2px 0 #ac1000;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
}
.button-gl:focus {
    box-shadow: inset 0px 2px 2px 0 #942718;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to bottom, #e74a35, #f26843);
    outline: none;
}
/* HEADER end */

/* BASKET start */
.basket-popap {
    content: "";
    position: fixed;
    top: 55px;
    left: 709px;
    padding: 20px 15px;
    width: 490px;
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
}
.basket-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.basket-item {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
}
.basket-item-pic {
    width: 33px;
}
.basket-item-name {
    width: 245px;
}
.basket-name {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #323232;
    margin: 0;
    padding: 0;
}
.basket-item-count {
    width: 100px;
}
.basket-cost {
    font-family: Roboto;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #999999;
}
.basket-count {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #323232;
}
.basket-count-price {
    color: rgba(0, 0, 0, 0.5);
}
.basket-price {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #323232;
    width: 50px;
}
.basket-total-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.total {
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #323232;
    padding-bottom: 15px;
}
.button-basket {
    width: 170px;
    height: 44px;
    cursor: pointer;
}
.basket-button-close {
    width: 11px;
    height: 11px;
    font-size: 0;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background-color: #f8f7f4;
}
.basket-button-close::before,
.basket-button-close::after {
    content: "";
    position: absolute;
    top: 18px;
    left: -1px;
    width: 14px;
    height: 1px;
    background-color: black;
}
.basket-button-close::before {
    transform: rotate(45deg);
}
.basket-button-close::after {
    transform: rotate(-45deg);
}
/* BASKET end */


/* HEADER popap start */
.search-popap {
    content: "";
    position: absolute;
    top: 55px;
    left: 697px;
    width: 312px;
    padding: 20px 15px;
    border-radius: 8px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
}
.search-area {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: solid 1px #d3d3d2;
    background-color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #999999;
    border-radius: 8px;
}
.search-item {
    margin: 0;
    padding: 0;
}
 .search-area:hover {
    background-color: #ffffff;
    box-shadow: 0 0 0 1px rgba(154, 154, 154, 0.52);
    font-family: Roboto;
    font-size: 14px;
}
.search-area:focus {
    border: solid 1px rgba(46, 136, 228, 0.52);
    background-color: #ffffff;
    outline: none;
    box-shadow: 0 0 0 1px rgba(46, 136, 228, 0.52);
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: black;
}
.search-area:-webkit-autofill,
.search-area:-webkit-autofill:hover, 
.search-area:-webkit-autofill:focus {
-webkit-box-shadow: 0 0 0 30px white inset;
}


.login-link-popap {
    content: "";
    position: fixed;
    width: 241px;
    top: 55px;
    left: 867px;
    padding: 20px 18px 17px 18px;
    border-radius: 5.1px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
}
.login-link-item {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}
.data-area {
    width: 100%;
    box-sizing: border-box;
    padding: 11px;
    border-radius: 5px;
    border: solid 1px #d3d3d2;
    background-color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #999999;
}
.login-linker-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.login-linker {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}
.button-login-link {
    width: 100px;
    height: 44px;
    box-shadow: 0px 1px 2px 0 #ac1000;
    background-image: linear-gradient(to top, #e74a35, #f26843);
    cursor: pointer;
}
.restore,
.new-registration {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: normal;
    text-align: left;
    color: #323232;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.data-area:hover {
    background-color: #ffffff;
    box-shadow: 0 0 0 1px rgba(154, 154, 154, 0.52);
    font-family: Roboto;
    font-size: 14px;
}

.data-area:focus {
    border: solid 1px rgba(46, 136, 228, 0.52);
    background-color: #ffffff;
    outline: none;
    box-shadow: 0 0 0 1px rgba(46, 136, 228, 0.52);
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: black;
}
.data-area:-webkit-autofill,
.data-area:-webkit-autofill:hover, 
.data-area:-webkit-autofill:focus {
-webkit-box-shadow: 0 0 0 30px white inset;
}
/* HEADER popap end */


/* MAIN start */
.main-time .time {
    padding: 0;
    margin: 0;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 16px;
    letter-spacing: normal;
    text-align: right;
    color: #ffffff;
    padding: 7px 0px;
}
.phone {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: normal;
    text-align: right;
    color: #ffffff;
}
.main-time {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    margin-top: -10px;
}
.features-container {
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
}
.main-container {
    max-width: 1146px;
    margin: 0 auto;
    padding: 0;
}
.main-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
}
.main-menu-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}
/* SLIDER______________________________________________________ */
.slider {
    position: relative;
    padding-top: 525px;
    text-align: center;
    color: #ffffff;
}
.slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.slider-header {
    width: 700px;
    margin: 0 auto;
    padding-bottom: 30px;
    font-family: Roboto;
    font-size: 60px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.button-slider {
    display: inline-block;
    padding: 15px 40px;
    box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
    background-image: linear-gradient(to top, #e74a35, #f26843);
    font-family: Roboto;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    border-radius: 50px;
    cursor: pointer;
}
.slider-point {
    display: inline-block;
    width: 21px;
    height: 21px;
    margin-right: 8px;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    vertical-align: top;
    cursor: pointer;
}
.slider-control {
    content: "";
    position: absolute;
    bottom: 63px;
    left: 0px;
    z-index: 20;
    font-size: 0;
}
.slide {
    display: none;
}
#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
    display: block;
}

/* #product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
    background-color: #ffffff;
}
#product-1:checked ~ .site-wrapper {
    background-color: #849d8f;
    background-image: url("../img/prod-1.png");
}
  
#product-2:checked ~ .site-wrapper {
    background-color: #8996a6;
    background-image: url("../img/prod-2.png");
}
  
#product-3:checked ~ .site-wrapper {
    background-color: #9d8b84;
    background-image: url("../img/prod-3.png");
}
.site-wrapper::before,
.site-wrapper::after {
    content: "";
    visibility: hidden;
}

.site-wrapper::before {
    background-image: url("../img/prod-2.png");
}

.site-wrapper::after {
    background-image: url("../img/prod-3.png");
} */
/* .site-wrapper {
    transition: background-image 0.5s ease, background-color 0.5s ease;
    /* Для демонстрации */
    /*min-height: 100vh;
} */
/* ACTION______________________________________________________ */
.action {
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.action-rasp-wrapper {
    background-color: #849d8f;
    background-image: url(../img/rasp.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    border-radius: 15px;
    padding: 23px 20px;
    width: 50%;
    background-size: cover;
    margin-right: 26px;
}
.action-choco-wrapper {
    background-color: #849d8f;
    background-image: url(../img/choco.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    border-radius: 15px;
    padding: 23px 20px;
    width: 50%;
    background-size: cover;
}
.action-header {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-size: 35px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding-bottom: 20px;
}
.action-info {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding-bottom: 45px;
}
.button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.button-rasp,
.button-choco {
    opacity: 0.99;
    box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
    background-image: linear-gradient(to top, #e74a35, #f26843);
    padding: 12px 23px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    border: none;
}

/* HITS______________________________________________________ */
.hits {
    padding-bottom: 40px;
    background-color: #849d8f;
}
.hits-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}
.hits-item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 267px;
    z-index: 2;
}
.hits-item-image,
.hits-item-price,
.hits-title,
.hits-item-title {
    margin: 0;
    padding: 0;
}
.hits-item-price {
    position: absolute;
    z-index: 3;
    bottom: 100px;
    text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
    font-size: 45px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 45px;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.hits-title {
    text-align: center;
}
.hits-item-title {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.hits-img-hit {
    position: absolute;
}
/* FEATURES______________________________________________________ */
.features{
    font-size: 16px;
    line-height: 22px;
    color: black;
    padding-bottom: 40px;
    background-color: #849d8f;
}
.features-area {
    background-color: #ffffff;
    background-image: url(../img/waffle.jpg);
    background-position: 0 0;
    background-repeat: repeat;
    border-radius: 15px;
    padding: 26px 33px 20px 20px;
}
.features-header {
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 30px;
    letter-spacing: normal;
    text-align: left;
    color: black;
    margin: 0;
    padding-bottom: 8px;
}
.features-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.feature-item {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 22px;
    letter-spacing: normal;
    text-align: left;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 50%;
    margin: 0;
    padding: 0;
    padding-bottom: 6px;
}
.features-text {
    margin: 0;
    padding: 0;
    padding-top: 14px;
    padding-left: 8px;
}
/* __________________________________________________________ */
.news-appointment-wrapper {
    display: flex;
    flex-direction: row;
    padding-bottom: 39px;
}
.news {
    border-radius: 15px;
    background-color: #ffffff;
    background-image: url(../img/strawberry.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 50%;
    margin-right: 26px;
    padding: 20px;
    background-size: cover;
}
.news-header{
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 22px;
    letter-spacing: normal;
    text-align: left;
    color: #323232;
    margin: 0;
    padding: 0;
    padding-bottom: 6px;
}
.news-link-wrapper {
    margin: 0;
    padding: 0;
    width: 55%;
}
.news-link {
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 30px;
    letter-spacing: normal;
    text-align: left;
    color: #323232;
    text-decoration: underline;
}
.appointment {
    width: 50%;
}
.appointment-field {
    padding: 5px;
    background-color: #ffffff;
    background-image: url(../img/email_back.jpg);
    background-repeat: repeat;
    background-position: 0 0;
    border-radius: 15px;
    background-size: cover;
}
.appointment-field2 {
    padding: 27px 20px 32px 35px;
    border-radius: 10px;
    background-color: #f8f7f4;
    background-position: center;
}
.appointment-info {
    margin: 0;
    padding: 0;
    padding-bottom: 38px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 22px;
    letter-spacing: normal;
    text-align: left;
    color: #5a5a5a;
}
.appointment-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.appointment-item {
    margin: 0;
    padding: 0;
}
.appointment-area {
    padding: 10px;
    border-radius: 5px;
    border: solid 1px rgba(178, 178, 178, 0.52);
    background-color: #ffffff;
    font-size: 16px;
    width: 174%;
    box-sizing: border-box;
}
.button-email {
    width: 129px;
    height: 44px;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #fefefe;
    text-align: center;
    cursor: pointer;
}
/* __________________________________________________________ */
.map {
    width: 1200px;
    margin: 0 auto;
    background-color: #849d8f;
}
.map-wrapper {
    position: relative;
}
.map-adress {
    content: "";
    position: absolute;
    top: 14%;
    left: 73%;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #323232;
    padding: 30px 25px;
    border-radius: 15px;
    margin: 0;
}
.map-feedback {
    display: inline-block;
    box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
    background-image: linear-gradient(to top, #e74a35, #f26843);
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #fefefe;
    border-radius: 25px;
    padding: 13px 28px;
}
.adress-normal {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #323232;
}
.adress-bold {
    height: 41px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #323232;
}
.adress {
    margin: 0;
    padding: 0;
    list-style: none;
}
.adress:first-child {
    padding-bottom: 23px;
}
.adress:nth-child(2) {
    padding-bottom: 26px;
}
.map-ice-cream {
    content: "";
    position: absolute;
    top: 32%;
    left: 22%;
}
.map-ice-cream {
    margin: 0;
    padding: 0;
}
/* MAIN end */


/* MAIN popap start */
.feedback-field {
    content: "";
    position: fixed;
    left: 30%;
    top: 20%;
    width: 428px;
    padding: 17px 25px 25px 25px;
    border-radius: 10px;
    background-color: #f8f7f4;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 28px;
    letter-spacing: normal;
    text-align: left;
    color: #323232;
}
.feedback-close {
    position: absolute;
    top: 12px;
    right: 15px;
    width: 22px;
    height: 22px;
    font-size: 0;
    border: 0;
    cursor: pointer;
    background-color: #f8f7f4;
}
.feedback-close::before,
.feedback-close::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 2px;
    width: 19px;
    height: 3px;
    background-color: black;    
}
.feedback-close::before {
    transform: rotate(45deg);
}
  
.feedback-close::after {
    transform: rotate(-45deg);
}
.feedback-answer,
.feedback-item {
    margin:0;
    padding: 0;
}
.feedback-answer {
    padding-bottom: 18px;
}
.feedback-area,
.email-area {
    border: solid 1px rgba(178, 178, 178, 0.52);
    background-color: #ffffff;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #999999;
    padding: 9px;
    width: 62%;
    box-sizing: border-box;
    border-radius: 8px;
}
.feedback-textarea {
    border: solid 1px rgba(178, 178, 178, 0.52);
    background-color: #ffffff;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    min-height: 155px;
    color: #999999;
    padding: 11px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
}
.feedback-item {
    padding-bottom: 20px;
}
.button-feedback {
    width: 139px;
    height: 44px;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #fefefe;
    text-align: center;
    cursor: pointer;
}
.feedback-wrapper {
    display: flex;
    justify-content: flex-end;
}
.feedback-area:hover,
.email-area:hover,
.feedback-textarea:hover {
    background-color: #ffffff;
    box-shadow: 0 0 0 1px rgba(154, 154, 154, 0.52);
}

.feedback-area:focus,
.email-area:focus,
.feedback-textarea:focus {
    border: solid 1px rgba(46, 136, 228, 0.52);
    background-color: #ffffff;
    outline: none;
    box-shadow: 0 0 0 1px rgba(46, 136, 228, 0.52);
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: black;
}
.feedback-area:-webkit-autofill,
.feedback-area:-webkit-autofill:hover, 
.feedback-area:-webkit-autofill:focus, 
.feedback-area:-webkit-autofill:visited {
-webkit-box-shadow: 0 0 0 30px white inset;
}
.email-area:-webkit-autofill,
.email-area:-webkit-autofill:hover, 
.email-area:-webkit-autofill:focus, 
.email-area:-webkit-autofill:visited {
-webkit-box-shadow: 0 0 0 30px white inset;
}
/* MAIN popap end */


/* MAIN CATALOG start */
.breadcrumbs-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: -20px;
    padding-bottom: 6px;
}
.breadcrumbs {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.breadcrumbs-item {
    margin: 0;
    padding: 0;
    padding-right: 8px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.breadcrumbs .breadcrumbs-main,
.breadcrumbs .breadcrumbs-catalog,
.breadcrumbs .breadcrumbs-icecream {
    position: relative;
    display: block;
}
.breadcrumbs-main::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
}
.breadcrumbs-catalog::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
}
.breadcrumbs,
.catalog-list  {
    list-style: none;
}
.breadcrumbs-menu {
    color: #ffffff;
}
.breadcrumbs a:hover {
    color: #ffbc9e;
}
.breadcrumbs-menu:hover::after {
    background-color: #ffbc9e;
}
.breadcrumbs a:active {
    color: #ffbc9e;
}
.breadcrumbs-current {
    border-bottom: none;
}
.page-title {
    margin: 0;
    padding: 0;
    padding-bottom: 25px;
    font-family: Roboto;
    font-size: 35px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
/* __________________________________________________________ */
.filter-catalog {
    width: 1145px;
    height: 130px;
    background-color: rgba(240, 94, 94, 0.2);
    margin: 0 auto;
    padding-bottom: 42px;
}
/* __________________________________________________________ */
.catalog {
    padding-bottom: 40px;
}
.catalog-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.catalog-item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 267px;
    padding-bottom: 36px;
    z-index: 2;
}
.catalog-item-image,
.catalog-item-price,
.catalog-title {
    margin: 0;
    padding: 0;
}
.catalog-item-price {
    position: absolute;
    z-index: 3;
    bottom: 100px;
    text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
    font-size: 45px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 45px;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.rub {
    text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
    font-size: 45px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 45px;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding-left: 3px;
}
.kg {
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 45px;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.catalog-title {
    text-align: center;
}
.catalog-item-image {
    padding-bottom: 7px;
}
.catalog-item-title {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.button-item {
    box-shadow: 0px 1px 2px 0 #ac1000;
    background-image: linear-gradient(to top, #e74a35, #f26843);
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #fefefe;
    padding: 13px 17px;
    content: "";
    position: absolute;
    top: 336px;
    left: 35px;
    display: none;
    cursor: pointer;
}
.catalog-item-hover {
    position: absolute;
    top: -6px;
    left: -12px;
    width: 293px;
    height: 405px;
    opacity: 0.2;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
    display: none;
    border-radius: 10px;
}
.catalog-item:hover .catalog-item-hover,
.catalog-item:hover .button-item {
    display: block; 
}
/* __________________________________________________________ */
.pagination-list {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    padding-bottom: 30px;
    list-style: none;  
}
.pagination-item .pagination-link {
    display: block;
    margin: 0;
    padding: 4px 10px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}
.pagination-item-current {
    background-color: #ffffff;
    border-radius: 50%;
}
.pagination-item-current .pagination-link {
    color: black;
}
.pagination-item .pagination-link:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}
.pagination-item .pagination-link:focus {
    background-color: #ffffff;
    border-radius: 50%;
    color: black;
}
.pagination-item-disabled .pagination-link {
    color: rgba(255, 255, 255, 0.3);
}
/* MAIN CATALOG end */


/* FOOTER start */
.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    position: relative;
    padding: 18px 0px 30px 0px;
}
.footer-wrapper::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
}
.footer-social {
    display: flex;
    justify-content: space-between;
    min-width: 185px;
    align-items: center;
}
.social-space {
    margin: 0;
    padding: 0;
}
.social-space svg {
    opacity: 0.5;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}
.social-space svg:hover {
    opacity: 1;
}
.social-space svg:focus {
    opacity: 1;
    border: 2px solid rgba(255, 255, 255);
}
/* __________________________________________________________ */
.contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.contacts-link-wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.contacts-link-item {
    list-style: none;
    width: 34%;
}
.contacts-link {
    position: relative;
    display: inline-block;
}
.contacts-link::after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 1px;
    right: 1px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
}
.contacts-link-item:first-child {
    position: relative;
    font-weight: bold;
}
.contacts-link-item:first-child::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -20px;
    width: 15px;
    height: 13px;
    background-image: url(../img/heart.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.contacts-link {
    color: #ffffff;
    font-size: 13px;
}
.contacts-link-item a:hover,
.copyright-html a:hover,
.contacts-link-item a:focus,
.copyright-html a:focus {
    color: #ffbc9e;
}
.contacts-link:hover::after,
.html:hover::after,
.contacts-link:focus::after,
.html:focus::after {
    background-color: #ffbc9e;
}
.contacts-item:hover,
.html:hover {
    color: #ffbc9e;
}
.contacts-item:active,
.html:active {
    color: #ffbc9e;
}
/* __________________________________________________________ */
.footer-copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 200px;
}
.copyright-html {
    font-size: 12px;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #fefefe;
}
.html::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 1px;
    right: 1px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
}
.html {
    position: relative;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 18px;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
/* FOOTER end */