body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
  }
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto.woff2) format("woff2"),
        url(../fonts/roboto.woff) format("woff");
    font-style: normal;
	font-weight: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/robotobold.woff2) format("woff2"),
        url(../fonts/robotobold.woff) format("woff");
    font-style: normal;
	font-weight: bold;
}
.site-wrapper {
    margin: 0 auto;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
    color: #ffffff;
    padding: 0px 27px;
    background-color: #849d8f;
    transition: background-image 0.5s ease, background-color 0.5s ease;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
  /* HEADER start */
.main-logo {
    min-width: 171px;
}
.user-navigation,
.navigation-list,
.site-navigation {
    list-style: none;
}
.main-navigation {
    width: calc(100% - 371px);
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    color: #ffffff;
}
.site-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}
.site-navigation-item {
    position: relative;
    padding-right: 10px;
}
.site-navigation .navigation-list {
    display: none;
}
.site-navigation-item:hover .navigation-list{
    display: block;
}
.site-navigation-link,
.navigation-item-link,
.user-navigation-link {
    color: #ffffff;
}
.site-navigation .site-navigation-catalog,
.site-navigation .site-navigation-delivery,
.site-navigation .site-navigation-company {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.site-navigation-catalog::after {
    content: "";
    position: absolute;
    right: 8px;
    bottom: 5px;
    left: 8px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
}
.site-navigation-delivery::after {
    content: "";
    position: absolute;
    right: 8px;
    bottom: 5px;
    left: 8px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
}
.site-navigation-company::after {
    content: "";
    position: absolute;
    right: 8px;
    bottom: 5px;
    left: 8px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
}
.site-navigation a:hover {
    color: black;
    background-color: #f7f6f3;
    border-radius: 25px;
}  
.site-navigation a:active {
    background-color: #ededed;
    border-radius: 25px;
    box-shadow: inset 0px 2px 1px 0 #696969;
}
.site-navigation-current {
    background-color: #d07058;
    border-radius: 25px;
}
.site-navigation-link {
    padding: 5px 9px;
}
.navigation-list{
    content: "";
    position: absolute;
    top: 30px;
    left: -12px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    min-width: 145px;
    margin: 0;
    padding: 2px 0px;
    background-color: #f8f7f4;
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}
.navigation-item:first-child{
    padding-bottom: 10px;
}
.navigation-item:first-child .navigation-item-link {
    font-weight: bold;
}
.navigation-item .navigation-item-link{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: black;
}
.navigation-item {
    padding: 7px 20px;
}
.navigation-item:hover,
.navigation-item .navigation-item-link:hover {
    background-color: #fbded7;
}
.navigation-item:active,
.navigation-item .navigation-item-link:active {
    background-color: #d07058;
}
.navigation-item:first-child {
    position: relative;
}
.navigation-item-first::after{
    content: "";
    position: absolute;
    top: 100%;
    right: 7px;
    left: 7px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.3);
}
.user-navigation {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    min-width: 200px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #ffffff;
}
.search-link:hover path,
.login-link:hover path {
    fill: black;
} 
.user-navigation-link {
    margin-left: 10px;
    padding: 9px 15px;
    border-radius: 25px;
}
.search-link {
    display: block;
    padding: 8px;
    border-radius: 50%;
}
.user-navigation .search-field {
    position: relative;
    width: 17px;
    height: 17px;
}
.user-navigation .login-link { 
    position: relative;
    padding-left: 45px;
} 
.user-navigation .basket {
    position: relative;
    padding-left: 45px;
    background-color: rgba(255, 255, 255, 0.2);
} 
.search-field {
    background-color: rgba(255, 255, 255, 0.2);
}
.search-field:hover {
    color: black;
    background-color: #f8f7f4;
}
.login-link {
    background-color: rgba(255, 255, 255, 0.2);
}
.login-link:hover {
    position: relative;
    padding-left: 45px;
    color: black;
    background-color: #f8f7f4;
}
.basket-full {
    position: relative;
    padding-left: 45px;
    background-color: #f8f7f4;
    color: black;
}
.search-field,
.login-link,
.basket,
.basket-full {
    display: inline-block;
    vertical-align: middle;
}
.login-link .login-link-img,
.basket .basket-link-img {
    content: "";
    position: absolute;
    top: 8px;
    left: 16px;
    width: 21px;
    height: 19px;
}
.basket-full .basket-link-img {
    content: "";
    position: absolute;
    top: 8px;
    left: 16px;
    width: 21px;
    height: 19px;
}
.button-gl {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #fefefe;
    background-image: linear-gradient(to top, #e74a35, #f26843);
    border-radius: 25px;
    box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
    text-align: center;
}
.button-gl:hover {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), 
        rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
    box-shadow: 0px 2px 2px 0 #ac1000;
}
.button-gl:focus {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), 
        rgba(0, 0, 0, 0.07)), linear-gradient(to bottom, #e74a35, #f26843);
    box-shadow: inset 0px 2px 2px 0 #942718;
    outline: none;
}
/* HEADER end */

/* BASKET start */
.basket-popap {
    content: "";
    position: absolute;
    top: 61px;
    left: 728px;
    width: 490px;
    padding: 20px 15px;
    background-color: #f8f7f4;
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}
.basket-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    list-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.basket-item {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
}
.basket-item-pic {
    width: 33px;
}
.basket-item-name {
    width: 245px;
}
.basket-name {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #323232;
    margin: 0;
    padding: 0;
}
.basket-item-count {
    width: 100px;
}
.basket-cost {
    font-family: Roboto;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #999999;
}
.basket-count {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #323232;
}
.basket-count-price {
    color: rgba(0, 0, 0, 0.5);
}
.basket-price {
    width: 50px;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #323232;
}
.basket-total-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.total {
    padding-bottom: 15px;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #323232;
}
.button-basket {
    padding: 13px 14px;
    cursor: pointer;
}
.basket-button-close {
    width: 11px;
    height: 11px;
    margin: 0;
    padding: 0;
    font-size: 0;
    background-color: #f8f7f4;
    border: 0;
    cursor: pointer;
}
.basket-button-close::before,
.basket-button-close::after {
    content: "";
    position: absolute;
    top: 18px;
    left: -1px;
    width: 14px;
    height: 1px;
    background-color: black;
}
.basket-button-close::before {
    transform: rotate(45deg);
}
.basket-button-close::after {
    transform: rotate(-45deg);
}
/* BASKET end */


/* HEADER popap start */

.search-popap {
    content: "";
    position: absolute;
    top: 55px;
    left: 697px;
    display: none;
    width: 312px;
    padding: 20px 15px;
    background-color: #f8f7f4;
    border-radius: 8px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}
.search-area {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #999999;
    background-color: #ffffff;
    border: solid 1px #d3d3d2;
    border-radius: 8px;
}
.search-item {
    margin: 0;
    padding: 0;
}
 .search-area:hover {
    font-family: Roboto;
    font-size: 14px;
    background-color: #ffffff;
    box-shadow: 0 0 0 1px rgba(154, 154, 154, 0.52);
}
.search-area:focus {
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: black;
    background-color: #ffffff;
    border: solid 1px rgba(46, 136, 228, 0.52);
    box-shadow: 0 0 0 1px rgba(46, 136, 228, 0.52);
    outline: none;
}
.search-area:-webkit-autofill,
.search-area:-webkit-autofill:hover, 
.search-area:-webkit-autofill:focus {
-webkit-box-shadow: 0 0 0 30px white inset;
}
.login-link-popap {
    content: "";
    position: fixed;
    z-index: 6;
    top: 55px;
    left: 867px;
    width: 241px;
    padding: 20px 18px 17px 18px;
    background-color: #f8f7f4;
    border-radius: 5.1px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}
.login-link-item {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}
.data-area {
    width: 100%;
    box-sizing: border-box;
    padding: 11px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #999999;
    background-color: #ffffff;
    border: solid 1px #d3d3d2;
    border-radius: 5px;
}
.login-linker-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.login-linker {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}
.button-login-link {
    width: 100px;
    height: 44px;
    background-image: linear-gradient(to top, #e74a35, #f26843);
    box-shadow: 0px 1px 2px 0 #ac1000;
    cursor: pointer;
}
.restore,
.new-registration {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: normal;
    text-align: left;
    color: #323232;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.data-area:hover {
    font-family: Roboto;
    font-size: 14px;
    background-color: #ffffff;
    box-shadow: 0 0 0 1px rgba(154, 154, 154, 0.52);
}

.data-area:focus {
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: black;
    background-color: #ffffff;
    border: solid 1px rgba(46, 136, 228, 0.52);
    box-shadow: 0 0 0 1px rgba(46, 136, 228, 0.52);
    outline: none;
}
.data-area:-webkit-autofill,
.data-area:-webkit-autofill:hover, 
.data-area:-webkit-autofill:focus {
-webkit-box-shadow: 0 0 0 30px white inset;
}
/* HEADER popap end */


/* MAIN start */
.main-time .time {
    margin: 0;
    padding: 7px 0px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 16px;
    letter-spacing: normal;
    text-align: right;
    color: #ffffff;
    
}
.phone {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: normal;
    text-align: right;
    color: #ffffff;
}
.main-time {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;
    margin-top: -10px;
    padding: 0;
}
.features-container {
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
}
.main-container {
    max-width: 1146px;
    margin: 0 auto;
    padding: 0;
}
.main-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
}
.main-menu-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}
/* SLIDER______________________________________________________ */
.slider {
    position: relative;
    padding-top: 266px;
    padding-bottom: 40px;
    text-align: center;
    color: #ffffff;
}
.slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.slider-header {
    width: 700px;
    margin: 0 auto;
    padding-bottom: 30px;
    font-family: Roboto;
    font-size: 60px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.button-slider {
    display: inline-block;
    padding: 15px 40px;
    font-family: Roboto;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    background-image: linear-gradient(to top, #e74a35, #f26843);
    border-radius: 50px;
    box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
    cursor: pointer;
}
.slider-point {
    display: inline-block;
    width: 21px;
    height: 21px;
    margin-right: 8px;
    vertical-align: top;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}
.slider-control {
    z-index: 20;
    content: "";
    position: absolute;
    bottom: 63px;
    left: 0px;
    font-size: 0;
}
.slide {
    display: none;
}
#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
    display: block;
}
#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
    background-color: #ffffff;
}
#product-1:checked ~ .site-wrapper {
    background-color: #849d8f;
    background-image: url("../img/prod-1.png");
    background-repeat: no-repeat;
    background-position: top center;
}
#product-2:checked ~ .site-wrapper {
    background-color: #8996a6;
    background-image: url("../img/prod-2.png");
    background-repeat: no-repeat;
    background-position: top center;
} 
#product-3:checked ~ .site-wrapper {
    background-color: #9d8b84;
    background-image: url("../img/prod-3.png");
    background-repeat: no-repeat;
    background-position: top center;
}
.site-wrapper::before,
.site-wrapper::after {
    content: "";
    visibility: hidden;
}

/* ACTION______________________________________________________ */
.action {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 40px;
}
.action-item {
    display: flex;
    flex-direction: column;
}
.action-rasp-wrapper {
    width: 50%;
    margin-right: 26px;
    padding: 23px 20px;
    background-color: #849d8f;
    background-image: url(../img/rasp.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}
.action-choco-wrapper {
    width: 50%;
    padding: 23px 20px;
    background-color: #849d8f;
    background-image: url(../img/choco.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}
.action-header {
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    font-family: Roboto;
    font-size: 35px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.action-info {
    margin: 0;
    padding: 0;
    padding-bottom: 45px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
/* .button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
} */
.button-action {
    align-self: flex-end;
    padding: 12px 23px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    background-image: linear-gradient(to top, #e74a35, #f26843);
    border: none;
    box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
    opacity: 0.99;
}

/* HITS______________________________________________________ */
.hits {
    padding-bottom: 40px;
}
.hits-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}
.hits-item {
    position: relative;
    z-index: 7;
    display: flex;
    flex-direction: column;
    width: 25%;
}
.hits-item-image,
.hits-item-price,
.hits-title,
.hits-item-title {
    margin: 0;
    padding: 0;
}
.hits-item-price {
    position: absolute;
    top: 200px;
    font-size: 45px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 45px;
    letter-spacing: normal;
    text-align: left;
    text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
    color: #ffffff;
}
.hits-title {
    display: inline;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.hits-item-name {
    padding: 0px 15px;
    text-align: center;
}
.hits-img-hit {
    position: absolute;
    top: -9px;
}
.hits-item-background {
    content: '';
    position: absolute;
    z-index: 4;
    top: -10px;
    left: -11px;
    width: 293px;
    height: 405px;
    background: rgba(255, 255, 255, 0);
    border-radius: 5px;
}
.button-hits {
    content: "";
    position: absolute;
    z-index: 6;
    bottom: -61px;
    left: 39px;
    display: none;
    padding: 13px 17px;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #fefefe;
    background-image: linear-gradient(to top, #e74a35, #f26843);
    border-radius: 50px;
    box-shadow: 0px 1px 2px 0 #ac1000;
    cursor: pointer;
}
.hits-item:hover .hits-item-background {
    background: rgba(255, 255, 255, 0.2);
}
.hits-item:hover .button-hits {
    display: block;
}

/* FEATURES______________________________________________________ */
.features{
    padding-bottom: 40px;
    font-size: 16px;
    line-height: 22px;
    color: black;
    background-color: #849d8f;
}
.features-area {
    padding: 26px 33px 20px 20px;
    background-color: #ffffff;
    background-image: url(../img/waffle.jpg);
    background-position: 0 0;
    background-repeat: repeat;
    border-radius: 15px;
}
.features-header {
    margin: 0;
    padding-bottom: 8px;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 30px;
    letter-spacing: normal;
    text-align: left;
    color: black;
}
.features-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}
.feature-item {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    padding-bottom: 6px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 22px;
    letter-spacing: normal;
    text-align: left;
    color: black;
}
.feature-item-img {
    width: 50px;
    height: 50px;
}
.features-text {
    margin: 0;
    padding: 0;
    padding-top: 14px;
    padding-left: 8px;
}
/* __________________________________________________________ */
.news-appointment-wrapper {
    display: flex;
    flex-direction: row;
    padding-bottom: 39px;
}
.news {
    width: 50%;
    margin-right: 26px;
    padding: 20px;
    background-color: #ffffff;
    background-image: url(../img/strawberry.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    border-radius: 15px;
}
.news-header{
    margin: 0;
    padding: 0;
    padding-bottom: 6px;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 22px;
    letter-spacing: normal;
    text-align: left;
    color: #323232;
}
.news-link {
    display: block;
    width: 50%;
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 30px;
    letter-spacing: normal;
    text-align: left;
    color: #323232;
    text-decoration: underline;
}
.appointment {
    width: 50%;
}
.appointment-wrapper {
    padding: 5px;
    background-color: #ffffff;
    background-image: url(../img/email_back.jpg);
    background-repeat: repeat;
    background-position: 0 0;
    background-size: cover;
    border-radius: 15px;
}
.appointment-field {
    padding: 27px 20px 32px 35px;
    background-color: #f8f7f4;
    background-position: center;
    border-radius: 10px;
}
.appointment-info {
    margin: 0;
    padding: 0;
    padding-bottom: 38px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 22px;
    letter-spacing: normal;
    text-align: left;
    color: #5a5a5a;
}
.appointment-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.appointment-item {
    width: 70%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.appointment-area {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #ffffff;
    border: solid 1px rgba(178, 178, 178, 0.52);
    border-radius: 5px;
    box-sizing: border-box;
}
.button-email {
    width: 129px;
    height: 44px;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #fefefe;
    text-align: center;
    cursor: pointer;
}
/* __________________________________________________________ */
.map {
    width: 100%;
    margin: 0 auto;
    background-color: #849d8f;
}
.map-adress {
    content: "";
    position: absolute;
    top: 14%;
    left: 71%;
    margin: 0;
    padding: 30px 25px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #323232;
    background-color: #ffffff;
    border-radius: 15px;
}
.map-wrapper {
    position: relative;
    text-align: center;
}
.map-feedback {
    display: inline-block;
    padding: 13px 28px;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    vertical-align: middle;
    color: #fefefe;
    background-image: linear-gradient(to top, #e74a35, #f26843);
    border-radius: 25px;
    box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
}
.adress-normal {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #323232;
}
.adress-bold {
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #323232;
}
.adress {
    margin: 0;
    padding: 0;
    list-style: none;
}
.adress:first-child {
    padding-bottom: 23px;
}
.adress:nth-child(2) {
    padding-bottom: 26px;
}
.map-ice-cream {
    content: "";
    position: absolute;
    top: 29%;
    left: 24%;
}
.map-ice-cream,
.map-image {
    margin: 0;
    padding: 0;
}
/* MAIN end */


/* MAIN popap start */
.feedback-field {
    content: "";
    position: fixed;
    z-index: 3;
    left: 30%;
    top: 20%;
    width: 428px;
    padding: 17px 25px 25px 25px;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 28px;
    letter-spacing: normal;
    text-align: left;
    color: #323232;
    background-color: #f8f7f4;
    border-radius: 10px;
}
.feedback-close {
    position: absolute;
    top: 12px;
    right: 15px;
    width: 22px;
    height: 22px;
    font-size: 0;
    background-color: #f8f7f4;
    border: 0;
    cursor: pointer;
}
.feedback-close::before,
.feedback-close::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 2px;
    width: 19px;
    height: 3px;
    background-color: black;    
}
.feedback-close::before {
    transform: rotate(45deg);
}
  
.feedback-close::after {
    transform: rotate(-45deg);
}
.feedback-answer,
.feedback-item {
    margin:0;
    padding: 0;
}
.feedback-answer {
    padding-bottom: 18px;
}
.feedback-area,
.email-area {
    width: 62%;
    box-sizing: border-box;
    padding: 9px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #999999;
    background-color: #ffffff;
    border: solid 1px rgba(178, 178, 178, 0.52);
    border-radius: 8px;
}
.feedback-textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 11px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    min-height: 155px;
    color: #999999;
    background-color: #ffffff;
    border: solid 1px rgba(178, 178, 178, 0.52);
    border-radius: 8px;
}
.feedback-item {
    padding-bottom: 20px;
}
.button-feedback {
    width: 139px;
    height: 44px;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #fefefe;
    cursor: pointer;
}
.feedback-wrapper {
    display: flex;
    justify-content: flex-end;
}
.feedback-area:hover,
.email-area:hover,
.feedback-textarea:hover {
    background-color: #ffffff;
    box-shadow: 0 0 0 1px rgba(154, 154, 154, 0.52);
}

.feedback-area:focus,
.email-area:focus,
.feedback-textarea:focus {
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: black;
    background-color: #ffffff;
    border: solid 1px rgba(46, 136, 228, 0.52);
    outline: none;
    box-shadow: 0 0 0 1px rgba(46, 136, 228, 0.52);
}
.feedback-area:-webkit-autofill,
.feedback-area:-webkit-autofill:hover, 
.feedback-area:-webkit-autofill:focus, 
.feedback-area:-webkit-autofill:visited {
-webkit-box-shadow: 0 0 0 30px white inset;
}
.email-area:-webkit-autofill,
.email-area:-webkit-autofill:hover, 
.email-area:-webkit-autofill:focus, 
.email-area:-webkit-autofill:visited {
-webkit-box-shadow: 0 0 0 30px white inset;
}
/* MAIN popap end */


/* MAIN CATALOG start */
.breadcrumbs-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: -20px;
    padding-bottom: 6px;
}
.breadcrumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
}
.breadcrumbs-item {
    margin: 0;
    padding: 0;
    padding-right: 8px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.breadcrumbs .breadcrumbs-main,
.breadcrumbs .breadcrumbs-catalog,
.breadcrumbs .breadcrumbs-icecream {
    position: relative;
    display: block;
}
.breadcrumbs-main::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
}
.breadcrumbs-catalog::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
}
.breadcrumbs,
.catalog-list  {
    list-style: none;
}
.breadcrumbs-menu {
    color: #ffffff;
}
.breadcrumbs a:hover {
    color: #ffbc9e;
}
.breadcrumbs-menu:hover::after {
    background-color: #ffbc9e;
}
.breadcrumbs a:active {
    color: #ffbc9e;
}
.breadcrumbs-current {
    border-bottom: none;
}
.page-title {
    margin: 0;
    padding: 0;
    padding-bottom: 26px;
    font-family: Roboto;
    font-size: 35px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
/* __________________________________________________________ */
.filter-catalog {
    padding-right: 286px;
    padding-bottom: 42px;
}
.field-area {
    margin: 0;
    padding: 0;
    padding-bottom: 18px;
    border: none;
}
.field-name {
    padding-bottom: 7px;
    padding-left: 16px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.sorting-select-wrapper {
    position: relative;
    display: inline-block;
    padding: 8px 17px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 25px;

}
.sorting-select-wrapper:after {
    content: "▼";
    position: absolute;
    top: 9px;
    right: 14px;
    width: 10%;
    height: 100%;
    padding: 0 8px;
    font-size: 15px;
    box-sizing: border-box;
    pointer-events: none;
    cursor: pointer;
}
.sorting-select {
    color: #ffffff;
    background: transparent;
    border: none;
    outline: none;
    -webkit-appearance: none;
    cursor: pointer;
}
.fat-list,
.fillers-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    padding: 9px 16px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    list-style: none;
}
.fillers-list {
    width: 668px;
}
.fat-item,
.fillers-item {
    margin-right: 15px;
    padding-left: 30px;
}
.fat-item:last-child,
.fillers-item:last-child {
    margin-right: 0px;
}
.fat-item-point,
.fillers-item-point {
    position: relative;
    display: block;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
}
.fat-item-input + .fat-item-point::before {
    content: "";
    position: absolute;
    top: 0px;
    left: -33px;
    width: 22px;
    height: 22px;
    background-image: url(../img/radio-off.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
}
.fat-item-input:checked + .fat-item-point::after {
    content: "";
    position: absolute;
    top: 0px;
    left: -33px;
    width: 22px;
    height: 22px;
    background-image: url(../img/radio-on.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
}
.fillers-item-input + .fillers-item-point::before {
    content: "";
    position: absolute;
    top: 0px;
    left: -33px;
    width: 24px;
    height: 20px;
    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
}
.fillers-item-input:checked + .fillers-item-point::after {
    content: "";
    position: absolute;
    top: 0px;
    left: -33px;
    width: 24px;
    height: 20px;
    background-image: url(../img/checkbox-on.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
}
.min-price,
.max-price {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.filter-form-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}
.min-price,
.max-price {
    display: inline-block;
    vertical-align: middle;
}
.price {
    width: 28px;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
    cursor: pointer;
}
.range-controls {
    position: relative;
    width: 195px;
    padding: 17px 22px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
}
.range-controls .scale {
    width: 100%;
    height: 4px;
    background: rgba(255, 255, 255, 0.5);
}
.range-controls .bar {
    width: 80%;
    height: 4px;
    color: #ffffff;
}
.range-toggle {
    position: absolute;
    top: 8px;
    width: 22px;
    height: 22px;
    background: url(../img/filter-button.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    cursor: pointer;
}
.range-toggle-min {
    left: 33px;
}
.range-toggle-max {
    left: 133px;
}
.button-filter {
    align-self: center;
    margin-top: 2px;
    padding: 8px 22px;
    font-size: 16px;
    color: inherit;
    background-color: rgba(255, 255, 255, 0.2);
    border: solid 2px #ffffff;
    border-radius: 25px;
}
/* __________________________________________________________ */
.catalog {
    padding-bottom: 40px;
}
.catalog-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.catalog-item {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 25%;
    padding-bottom: 40px;
}
.catalog-item:hover {
    z-index: 9;
}
.catalog-item-image,
.catalog-item-price,
.catalog-title {
    margin: 0;
    padding: 0;
}
.catalog-item-price {
    position: absolute;
    top: 200px;
    text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
    font-size: 45px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 45px;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.currency {
    padding-left: 3px;
    text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
    font-size: 45px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 45px;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.mass {
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 45px;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.catalog-title {
    display: inline;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.catalog-item-name {
    padding: 0px 15px;
    text-align: center;
}
.catalog-item-image {
    padding-bottom: 7px;
}
.catalog-item-background {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    left: -12px;
    width: 293px;
    height: 415px;
    background: rgba(255, 255, 255, 0);
    border-radius: 5px;
}
.button-item {
    content: "";
    position: absolute;
    z-index: 3;
    bottom: -24px;
    left: 39px;
    display: none;
    padding: 13px 17px;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #fefefe;
    background-image: linear-gradient(to top, #e74a35, #f26843);
    border-radius: 50px;
    box-shadow: 0px 1px 2px 0 #ac1000;
    cursor: pointer;
}
.catalog-item:hover .catalog-item-background {
    background: rgba(255, 255, 255, 0.2);
}
.catalog-item:hover .button-item {
    display: block;
/* .catalog-item:hover {
    display: block;
    padding: 6px 13px 22px 13px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}
.catalog-item:hover .button-item {
    display: inline-block;
    margin-top: 11px;
    vertical-align: middle; */
}
/* __________________________________________________________ */
.pagination-list {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    padding-bottom: 30px;
    list-style: none;  
}
.pagination-item .pagination-link {
    display: block;
    margin: 0;
    padding: 4px 10px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}
.pagination-item-current {
    background-color: #ffffff;
    border-radius: 50%;
}
.pagination-item-current .pagination-link {
    color: black;
}
.pagination-item .pagination-link:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}
.pagination-item .pagination-link:focus {
    color: black;
    background-color: #ffffff;
    border-radius: 50%;
}
.pagination-item-disabled .pagination-link {
    color: rgba(255, 255, 255, 0.3);
}
/* MAIN CATALOG end */


/* FOOTER start */
.footer-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 18px 0px 30px 0px;
}
.footer-wrapper::before {
    content: "";
    position: absolute;
    bottom: 105%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
}
.footer-social {
    display: flex;
    justify-content: space-between;
    min-width: 185px;
    align-items: center;
}
.social-space {
    margin: 0;
    padding: 0;
}
.social-space .social-space-img {
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    opacity: 0.5;
}
.social-space .social-space-img:hover {
    opacity: 1;
}
.social-space .social-space-img:focus {
    border: 2px solid rgba(255, 255, 255);
    opacity: 1;
}
/* __________________________________________________________ */
.contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.contacts-link-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.contacts-link-item {
    width: 34%;
    list-style: none;
}
.contacts-link {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.contacts-link-item:first-child {
    position: relative;
    font-weight: bold;
}
.contacts-link-item:first-child::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -20px;
    width: 15px;
    height: 13px;
    background-image: url(../img/heart.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.contacts-link {
    font-size: 13px;
    color: #ffffff;
}
.contacts-link:hover,
.copyright-html a:hover,
.contacts-link:focus,
.copyright-html a:focus {
    color: #ffbc9e;
    border-bottom: 1px solid #ffbc9e;
}
.contacts-item:hover,
.html-academy:hover {
    color: #ffbc9e;
}
.contacts-item:active,
.html-academy:active {
    color: #ffbc9e;
}
/* __________________________________________________________ */
.footer-copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 200px;
}
.copyright-html {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #fefefe;
}
.html-academy {
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* FOOTER end */