body {
    margin: 0;
    padding: 0;
  
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
    color: #ffffff;
    background-color: #849d8f;
  }
a {
    text-decoration: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.main-navigation {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    color: #ffffff;
    background-color: #849d8f;
}
.user-navigation {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #ffffff;
    background-color: #849d8f;
}
.user-navigation,
.navigation-item,
.site-navigation {
    list-style: none;
}

.site-navigation-link,
.navigation-item-link,
.user-navigation-link,
.login-link-popap a {
    color: #ffffff;
}
.site-navigation-link{
    text-decoration: underline;
}
.main-time .time {
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 16px;
    letter-spacing: normal;
    text-align: right;
    color: #ffffff;
}
.phone {
    font-family: Roboto;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: normal;
    text-align: right;
    color: #ffffff;
}
.site-navigation a:hover {
    background-color: #f7f6f3;
    color: black;
    border-radius: 25px;
}  
.site-navigation a:active {
    box-shadow: inset 0px 2px 1px 0 #696969;
    background-color: #ededed;
    border-radius: 25px;
}
.site-navigation-current {
    background-color: #d07058;
    border-radius: 25px;
}
.search-field {
    background-color: rgba(255, 255, 255, 0.2);
}
 .search-field:hover {
    background-color: #f8f7f4;
    color: black;
}
.login-link {
    background-color: rgba(255, 255, 255, 0.2);
}
.login-link:hover {
    background-color: #f8f7f4;
    color: black;
}
.basket {
    background-color: rgba(255, 255, 255, 0.2);
}
.basket:hover {
    opacity: 0.99;
    background-color: #f8f7f4;
    color: black;
}
.search-popap {
    width: 341px;
    height: 84px;
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
}
.search-popap input {
    width: 311px;
    height: 44px;
    border: solid 1px #d3d3d2;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #999999;
}
.login-link-popap {
    width: 277px;
    height: 214px;
    border-radius: 5.1px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
}
.login-link-popap input {
    width: 241px;
    height: 44px;
    border-radius: 5px;
    border: solid 1px #d3d3d2;
    background-color: #ffffff;
}
.button-login-link {
    width: 100px;
    height: 44px;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #fefefe;
}
.restore,
.new-registration {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: normal;
    text-align: left;
    color: #323232;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.basket-popap {
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
}
.total {
    border-top: 1px solid black;
}
.button-close {
    opacity: 0.2;
}
.basket-item img {
    object-fit: contain;
    border-radius: 50%;
}
.basket-item .basket-name {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #323232;
}
.basket-item .basket-count {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #323232;
}
.basket-count-price {
    color: rgba(0, 0, 0, 0.5);
}
.basket-item .basket-price {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #323232;
}
.total {
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #323232;
}
.button-basket {
    width: 170px;
    height: 44px;
}
/* HEADER end */



/* MAIN start */
.features-container {
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
}
.features-list {
    list-style: none;
}
.button-gl {
    box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
    background-image: linear-gradient(to top, #e74a35, #f26843);
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #fefefe;
    border-radius: 25px;
    text-align: center;
}
.button-gl:hover {
    box-shadow: 0px 2px 2px 0 #ac1000;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
}
.button-gl:focus {
    box-shadow: inset 0px 2px 2px 0 #942718;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to bottom, #e74a35, #f26843);
}
.features{
    font-size: 16px;
    line-height: 22px;
    color: black;
}
.features-area {
    background-color: #ffffff;
    background-image: url(../img/waffle.jpg);
    background-position: 0 0;
    background-repeat: repeat;
    border-radius: 15px;
}
.features-header {
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 30px;
    letter-spacing: normal;
    text-align: left;
    color: black;
}
.feature-item {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 22px;
    letter-spacing: normal;
    text-align: left;
    color: black;
}
.news {
    border-radius: 15px;
    background-color: #ffffff;
    background-image: url(../img/strawberry.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.news-header{
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 22px;
    letter-spacing: normal;
    text-align: left;
    color: #323232;
}
.news-link {
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 30px;
    letter-spacing: normal;
    text-align: left;
    color: #323232;
    text-decoration: underline;
}
.appointment-field {
    background-color: #ffffff;
    background-image: url(../img/email_back.jpg);
    background-repeat: repeat;
    background-position: 0 0;
    border-radius: 15px;
}
.appointment-field2 {
    border-radius: 10px;
    background-color: #f8f7f4;
    background-position: center;
}
.appointment-info {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 22px;
    letter-spacing: normal;
    text-align: left;
    color: #5a5a5a;
}
.appointment-area {
    border-radius: 5px;
    border: solid 1px rgba (178 178 178, 0.52);
    background-color: #ffffff;
    font-size: 16px;
}
.button-email {
    width: 129px;
    height: 44px;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #fefefe;
    text-align: center;
}
.map-adress {
    background-color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #323232;
}
.map-feedback {
    box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
    background-image: linear-gradient(to top, #e74a35, #f26843);
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #fefefe;
    border-radius: 25px;
    padding: 13px 28px;
}
.feedback-field {
    border-radius: 10px;
    background-color: #f8f7f4;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 28px;
    letter-spacing: normal;
    text-align: left;
    color: #323232;
}
.feedback-area,
.email-area {
    border: solid 1px rgba(178 178 178, 0.52);
    background-color: #ffffff;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #999999;
}
.feedback-textarea {
    border: solid 1px rgba(178 178 178, 0.52);
    background-color: #ffffff;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #999999;
}
.button-feedback {
    width: 139px;
    height: 44px;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #fefefe;
    text-align: center;
}
/* main catalog START*/
.breadcrumbs,
.catalog-list  {
    list-style: none;
}
.breadcrumbs-menu {
    color: #ffffff;
    text-decoration: underline;
}
.breadcrumbs a:hover {
    color: #ffbc9e;
}
.breadcrumbs a:active {
    color: #ffbc9e;
}
.breadcrumbs-current {
    border-bottom: none;
}
.page-title {
    font-family: Roboto;
    font-size: 35px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.catalog-item-title {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-decoration: underline;
}
.catalog-item-image img {
    object-fit: contain;
    border-radius: 50%;
}
.catalog-item-price {
    text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
    font-size: 45px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 45px;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.catalog-item-price span {
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 45px;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
/*.catalog-item:hover {
    opacity: 0.2;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
}*/
.button-item {
    box-shadow: 0px 1px 2px 0 #ac1000;
    background-image: linear-gradient(to top, #e74a35, #f26843);
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #fefefe;
}

/*  main catalog END*/
/* MAIN end */



/* FOOTER start */
.footer-social-image {
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}
.contacts-item,
.html {
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 18px;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.copyright-html {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #fefefe;
}
.html {
    text-decoration: underline;
}
.contacts-item:hover,
.html:hover {
    color: #ffbc9e;
}
.contacts-item:active,
.html:active {
    color: #ffbc9e;
}


/* STYLES for grid*/
/*
body > * {
    background: rgba(63, 48, 197, 0.3)
}
body > * > * {
    background: rgba(64, 87, 214, 0.3)
}
body > * > * > * {
    background: rgba(175, 209, 52, 0.3)
}
body > * > * > * > * {
    background: rgba(212, 105, 17, 0.3)
}
/*
body {

    background-image: url(../img/gllacy-catalog.png);
    background-size: 1200px auto;
    background-repeat: no-repeat;
  }
*/
/*
body,
html {
    min-width: 1200px;
    min-height: 2416px;
}
*/
.main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}
.main-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 9px;
}
.main-logo {
    min-width: 155px;
}
.main-navigation {
    width: calc(100% - 455px);
}
.site-navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}
.user-navigation {
    margin: 0;
    padding: 0;
    min-width: 300px;
    display: flex;
    flex-direction: row;
}
.main-time {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}
.time {
    padding: 0;
    margin: 5px;
}
.phone {
    margin: 0;
    padding: 0;
}

.site-navigation-link {
    padding: 5px 9px;
}
.user-navigation-link {
    padding: 9px 15px;
    margin-right: 10px;
    border-radius: 25px;
}
.search-link {
    border-radius: 50%;
    padding: 9px;
}
.features,
.news-appointment-wrapper,
.footer-wrapper,
.main-menu,
.main-time {
    margin-left: 27px;
    margin-right: 27px;
}

.features {
    margin-bottom: 40px;
}
.features-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 34px;
    padding-bottom: 26px;
}
.feature-item {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 0;
    padding: 0:
}
.features-header {
    padding-top: 29px;
    padding-left: 21px;
    padding-bottom: 10px;
    margin: 0;
}
.features-text {
    margin: 0;
    padding: 0;
    padding-top: 14px;
    padding-left: 8px;
}
.news-appointment-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 39px;
}
.news {
    width: 50%;
    margin-right: 26px;
}
.news-header {
    margin: 0;
    padding: 0;
    margin-top: 26px;
    margin-left: 20px;
    margin-bottom: 5px;
}
.news-link-wrapper {
    margin: 0;
    padding: 0;
    margin-left: 19px;
    margin-right: 262px;
    margin-bottom: 75px;
}
.appointment {
    width: 50%;
}
.appointment-field {
    padding: 5px;
}
.appointment-field2 {
    padding-top: 33px;
    padding-left: 21px;
    padding-right: 21px;
    padding-bottom: 35px;
}
.appointment-info {
    margin: 0;
    padding: 0;
    margin-bottom: 38px;
}
.appointment-item {
    margin: 0;
    padding: 0;
}
.appointment-form {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.features-container {
    /*temporarily*/
    margin-bottom: 500px;
}

.footer-wrapper {
    display: flex;
}
.footer-social {
    display: flex;
    min-width: 350px;
}
.social-space {
    margin-right: 13px;
}

.contacts {
    display: flex;
    flex-direction: row;
    width: calc(100%-600px);
}

.contacts-link-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 152px;
}
.contacts-image {
    margin-right: 7px;
}
.contacts-link {
    color: #ffffff;
    text-decoration: underline;
    font-size: 13px;
    margin-right: 32px;
}
.footer-copyright {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-width: 250px;
}
.copyright-html {
    font-size: 12px;
}
/* styles for catalog*/
.breadcrumbs {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 27px;
    
}
.breadcrumbs-item {
    margin: 0;
    padding: 0;
    margin-right: 10px;
}
.page-title {
    margin: 0;
    padding: 0;
    margin-bottom: 200px;
    margin-left: 27px;
}
.catalog-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    padding-left: 25px;

}
.catalog-item {
    display: flex;
    flex-direction: column;
    width: 267px;
    margin-right: 25px;
}
.catalog-item-image,
.catalog-item-price,
.catalog-title {
    margin: 0;
    padding: 0;
}
.catalog-item-title {
    text-align: center;
    margin: 0;
    padding: 0;
}
.catalog-item-image {
    position: relative;
    z-index: 1;
}
.catalog-item-price {
    position: relative;
    z-index: 2;
    top: -65px;
    left: 5px;
}
.catalog-item-title {
    position: relative;
    z-index: 3;
    top: -35px;
}
